@import "tailwindcss";

@theme {
  --color-primary: #b81f00;
  --color-primary-dark: #4a0505;
  --color-background-light: #f8f6f5;
  --color-background-dark: #23120f;
  --color-accent: #4a0505;
  --font-display: var(--font-space-grotesk), "Space Grotesk", sans-serif;

  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@layer base {
  :root {
    --background: #f8f6f5;
    --foreground: #0f172a;
    /* slate-900 */
  }

  .dark {
    --background: #23120f;
    /* custom background-dark */
    --foreground: #f1f5f9;
    /* slate-100 */
  }

  *,
  *::before,
  *::after {
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-display);
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

/* For range sliders */
.slider-thumb::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 18px;
  height: 18px;
  background: #b81f00;
  cursor: pointer;
  border-radius: 50%;
}